* {
	margin: 0px;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
	font-display: center;
	color: black;
}

.box-cetak {
	width: 100%;
	margin: 100px auto;
	position: center;
}

.table-data {
	width: 100%;
	margin-top: 10px;
}

.table-data tr {
	height: 35px;
}

.table-data tr td:nth-child(1) {
	width: 30%;
}

.box {
	background-color: cadetblue;
	box-shadow: rgba(255, 255, 255, .3);
	padding: 10px;
	box-sizing: border-box;
	margin: 5px 0 25px;
}

header {
	background-color: darkblue;
}

header::after {
	content: '';
	display: block;
	clear: both;
}

header h1 {
	padding: 15px 25px;
	display: inline-block;
	float: left;
}

header ul {
	float: left;
}

header ul li {
	padding: 24px 25px;
	display: inline-block;
}

a {
	text-decoration: none;
}

.content {
	width: 90%;
	padding: 10px;
	box-sizing: border-box;
	margin: 50px auto;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid white;
}

.table tr {
	height: 30px;
}

.table tr td {
	padding: 5px 10px;
}

.table tr td:nth-child(1) {
	text-align: center;
}

.table-data {
	width: 100%;
	margin-top: 10px;
}

.table-data tr {
	height: 35px;
}

.table-data tr td:nth-child(1) {
	width: 30%;
}

.btn-cetak {
	display: inline-block;
	padding: 5px 12px;
	color: white;
	background-color: orangered;
	margin-top: 1px;
	margin-bottom: 10px;
}
