@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url(2.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


html {
  font-size: 62.5%;
}

*:not(i) {
  font-family: 'Montserrat', sans-serif;
}

header {
  position: fixed;
  width: 100%;
  background-image: url(b.jpg);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  padding: 3rem 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}

nav a {
  font-size: 1.8rem;
  text-decoration: none;
}

nav a#logo {
  color: #000000;
  font-weight: 700;
}

nav ul a {
  color: #ffffff;
  font-weight: 600;
}

nav ul a:hover {
  border-bottom: 2px solid #ffffff;
  transition: ease 0.3s;
}

section#home {
  height: 100vh;
  display: grid;
  place-items: center;
  color: #fff;
}

section#home2 {
  height: 34vh;
  display: grid;
  place-items: center;
}

h1 {
  font-size: 4rem;
}

#ham-menu {
  display: none;
}

nav ul.active {
  left: 0;
}

@media only screen and (max-width: 991px) {
  html {
    font-size: 56.25%;
  }

  header {
    padding: 2.2rem 5rem;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 50%;
  }

  #ham-menu {
    display: block;
    color: #ffffff;
  }

  nav a#logo,
  #ham-menu {
    font-size: 3.2rem;
  }

  nav ul {
    background-color: black;
    position: fixed;
    left: -100vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
  }
}

@media only screen and (max-width: 575px) {
  html {
    font-size: 46.87%;
  }

  header {
    padding: 2rem 3rem;
  }

  nav ul {
    top: 65.18px;
    height: calc(100vh - 65.18px);
  }
}

.content {
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}

.btn-daftar {
  padding: 15px 30px;
  background: rgb(255, 153, 0);
  text-decoration: none;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}

.btn-daftar:hover {
  cursor: pointer;
  background : #0579;
}


