body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  background-image: url(b.jpg);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #ffffff;
}


.sidebar {
  background-image: url(b2.jpg);
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.sidebar .profile_image2 {
  width: 100px;
  height: 100px;
  padding-left: 10px;
  border-radius: 100px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.sidebar h4 {
  color: #ccc;
  padding-left: 55px;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19B3D3;
}

.sidebar img {
  padding-right: 15px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19B3D3;
}

#check:checked~.sidebar {
  left: -190px;
}

#check:checked~.sidebar a span {
  display: none;
}

#check:checked~.sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content {
  margin-left: 250px;
  padding-top: 50px;
  background: white;
  background-position: center;
  background-size: cover;
  height: 50vh;
  transition: 0.5s;
}

#check:checked~.content {
  margin-left: 60px;
}

#check {
  display: none;
}

.print_btn {
  padding: 5px;
  background: orange;
  text-decoration: none;
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.print_btn:hover {
  background: coral;
}

.aksi_btn {
  padding: 3px;
  background: orange;
  text-decoration: none;
  float: initial;
  font-weight: 400;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.aksi_btn:hover {
  background: coral;
}

.box {
  background-color: white;
  box-shadow: rgba(255, 255, 255, .3);
  padding: 50px;
  box-sizing: border-box;
  margin: 5px 0 25px;
}

.table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 15px;
  min-width: 100%;
  overflow: hidden;
  border: none;
}
table thead tr{
color: #fff;
background: cadetblue;
text-align: left;
font-weight: bold;
}
.table th,
.table td{
vertical-align: center;
padding: 12px 15px;
text-align: center;
}
.table tbody tr{
border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
background: #f3f3f3;
}
.table tbody tr:last-of-type{
border-bottom: 2px solid rgb(215, 221, 221);
}
