@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

* {
	margin: 0px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	background-image: url(2.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.box-formulir {
	width: 50%;
	margin: 100px auto;
	position: center;
}

.box {
	background-image: url(a.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: rgba(255, 255, 255, .3);
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px 0 25px;
}

.table-form {
	width: 100%;
}

.table-form tr td:nth-child(1) {
	width: 30%;
}

.input-control {
	padding: 5px 10px;
	font-size: 16px;
	margin: 5px 0;
}

.btn-daftar {
	padding: 10px 17px;
	background-color: #057979;
	color: #fff;
	border: none;
	font-size: 16px;
}

.btn-daftar:hover {
	cursor: pointer;
	background-color: #4881AE;
}

.btn-cetak {
	display: inline-block;
	padding: 5px 12px;
	color: white;
	background-color: #057979;
	margin-top: 1px;
}

.box-cetak {
	width: 100%;
	margin: 100px auto;
	position: center;
}
