*{
	margin: 0;
	padding: 0;
	color: white;
	font-family: sans-serif;
}
.banner {
	width: 100%;
	height: 100vh;
	background-image: url('ww.jpg');
	background-size: cover;
	background-position: center;
}
.navbar {
	width: 85%;
	margin: auto;
	padding: 3px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	width: 100px;
	cursor: pointer;
}
.navbar ul li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 1px;
	width: 0%;
	background: white;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.content {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: white;
}
.content h3 {
	font-size: 70px;
	margin-top: 80px;
}
.content p{
	margin: 20px auto;
	font-weight: 100;
	line-height: 25px;
}
.button {
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	background: orangered;
	color: white;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.button:hover {
	cursor: pointer;
	background-color: coral;
}
