* {
	margin: 0px;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
body {
	background-image: url(1.jpg);
	height: 110vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.box-formulir {
	width: 50%;
	margin: 100px auto;
	position: center;
}
.box {
	background-color: white;
	box-shadow: rgba(255, 255, 255, .3);
	border: 1px solid #ddd;
	padding: 10px;
	box-sizing: border-box;
	margin: 5px 0 25px;
}
.table-form {
	width: 100%;
}
.table-form tr td:nth-child(1) {
	width: 30%;
}
.input-control {
	padding: 5px 10px;
	font-size: 16px;
	margin: 5px 0;
}
.btn-daftar {
	padding: 10px 17px;
	background-color: #4C489D;
	color: #fff;
	border: none;
	font-size: 16px;
}
.btn-daftar:hover {
	cursor: pointer;
	background-color: #4881AE;
}
.btn-cetak {
	display: inline-block;
	padding: 5px 12px;
	color: white;
	background-color: seagreen;
	margin-top: 1px;
}
.box-cetak {
	width: 100%;
	margin: 100px auto;
	position: center;
